/* main color: #212121 */
/*second color: #757575  */
/* fon #F5F4FA */
/* white #FFFFFF */
/* accent #2196F3 */

:root {
    --title-color: #212121;
    --special-title-color:#FFFFFF;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bgc: #FFFFFF;
    --secondary-bgc: #F5F4FA;
    --hero-bgc: #2F303A;
}

/*ГЛАВНАЯ*/

body {
    color: #2a2a2a;
    background-color: #fff;
    font-family: Roboto; sans-serif; 
    letter-spacing: 0.03em;
    margin-right: auto;
    margin-left: auto;
    
    

}
/* start header*/
.container {
    
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    
}
.ul, .ol, .h1, .h2, .h3, .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.header {
    border-bottom: 1px solid #ECECEC;
    
}
.container-header {
   
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    
    }
.logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px; 
    margin-right: 93px;
}

.logo-header {
    color: var(--accent-color);
    font-family: Raleway; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    }
.second-logo-header {
    font-family: Raleway; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-color);
    
}
.about, .portfolio-list,.footer-social-list, .clients-list, .social-list, .team-list, .footer, .footer-social, .footer-list, .site-nav, .auth-nav, .menu-list, .projects-list{
    list-style: none;
   
}

.site-nav{
    display: flex;
    padding-left: 0px;
    
}
.site-nav li {
    margin-right: 50px;
}

.site-link{
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.site-link:hover, .site-link:focus {
    color: var(--accent-color);
    text-decoration: none;
    
}
.site-nav-acent{
   
    position: relative;
}
.site-nav-acent::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 45px;
    
}
.site-link-acent {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    
}
.contacts-header {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0; 
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
}
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item + .item {
    margin-left: 50px;
}
.contacts-header:hover, .contacts-header:focus {
    color:#2196F3;
}
.contacts-header:hover .phone,
.contacts-header:focus .phone{
    
    fill:#2196F3;
}
.contacts-header:hover .mail,
.contacts-header:focus .mail{
    
    fill:#2196F3;
}


.mail, .phone {
    margin-right: 10px;
    fill: #757575;
}

/* end header*/
/* start hero*/
.hero {
    background-color: #C4C4C4;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/hero.jpg);
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-repeat: no-repeat;
    
    
    
}
.hero-title {
    color: var(--special-title-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    
    
    
   }
.hero-button {
    color: var(--special-title-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    margin: auto;
    height: 50px;
    padding: 10px 32px 10px 32px;
    display: block;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
    }


/* end hero*/
/* start  about*/
.about, .portfolio, .header {
    background-color: var(--primary-bgc);
    margin: 0;
    padding-left: 0px;
    
}
.section-about{
    
    padding-top: 94px;
    padding-bottom: 94px;
}
.about {
    display: flex;
    
        
}
.about-image{
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    
} 
.about-item {
    margin-right: 30px;
    width: 270px;
}
.about-item:nth-child(4n){
    margin-right: 0px;
}
.about-icon{
    background: #F5F4FA;
    border-radius: 4px;
    
}
.about-title{
    color: var(--title-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 0px;
    
    
}
.about-list {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* end about*/
/* start portfolio*/

.portfolio{
    
    padding-bottom: 94px;
}
.portfolio-title{
    color: var(--title-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio-list{
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}
  .portfolio-foto{
      margin-right: 30px;
      position: relative;
      
  }
  
  .over-thumb{
      position: absolute;
      width: 370px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top:224px;
    
  }
  .portfolio-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin:0;
    color: var(--special-title-color);
        }
/* end portfolio*/
/* start team*/
.team {
    background-color: var(--secondary-bgc);
    
    padding-bottom: 94px;
    padding-top: 94px;
       
}
.team-list{
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    display: flex;
      
    

}
.team-foto{
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 0px;
    
}

.team-title {
    color: var(--title-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
      
   
}
.team-div {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-bgc);
    margin-top: -5px;
}
.team-name {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
    background-color: var(--primary-bgc);
}
.team-profession {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    background-color: var(--primary-bgc);
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.social-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-left: 0px;
    
    
}
.social-list-item {
    margin-right: 10px;
}
.social-list-item:nth-child(4n){
    margin-right: 0px;
}

.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius:50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-list-link:hover, .social-list-link:focus {
    background-color:  var(--accent-color);
}
.social-list-icon:hover, .social-list-icon:focus {
   fill:var(--primary-bgc);
}
.social-list-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--primary-bgc);
    
}
/* end team*/

/* start clients*/
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title {
    color: var(--title-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.clients-list{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

.clients-item {
    margin-right: 30px;
    width: 170px;
    height: 90px;
    
}
.clients-item:last-child {
    margin-right: 0px;
}
.clients-link {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
    fill: var(--accent-color);
    border: 1px solid #2196F3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ens clients*/

/* start footer*/


.footer-container {
    display: flex;
    align-items: baseline;
    
    
}
.footer {
    background-color: var(--hero-bgc);
    padding-top: 60px;
    padding-bottom: 60px;
    
       
}
.div-footer-adress{
    margin-right: 70px;
}
.footer-list{
    padding-left: 0px;
    margin-bottom: 0px;
}
.logo-footer{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}
.first-logo-footer{
    color: var(--accent-color);
    font-family: Raleway; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}
.second-logo-footer{
    color:#FFFFFF;
    font-family: Raleway; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.footer-adress{
    color:#FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    
   
    
}
.footer-contacts{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    
    
}
.footer-item{
    margin-top: 9px;
}
.footer-item:first-child{
    margin-top: 0px;
}
.footer-social-links{
    margin-right: 93px;
}
.footer-title {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--special-title-color);
margin-top: 0px;
margin-bottom: 20px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius:50%;
    
}
.footer-social-list {
    display: flex;
    padding-left: 0px;
    margin: 0px;
      

}

.footer-social-item {
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius:50%;
    margin-right: 10px;
}
.footer-social-item:last-child {
    margin-right: 0px;
}
.footer-social-link:hover, 
.footer-social-link:focus  {
    background-color: var(--accent-color);
    
}
.email-form-div{
    display: flex;
    align-items: center;
   
   
}
.footer-email-form{
    margin:0;
    width:358px;
    height:50px;
    background: var(--hero-bgc);
    display: flex;
    align-items: center;

}
.footer-form-field{
    margin-right: 12px;
}
.footer-form-input {
    width:358px;
    height:50px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding-left: 16px;
    border:transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.telegram-follow{
    width:200px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: var(--accent-color);
    margin: 0;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875; 
    letter-spacing: 0.06em;    
    color: var(--special-title-color); 
}
    


.telegram-follow-icon{
    fill:var(--special-title-color);
    margin-left: 12px;
}

/* end footer*/
/*КОНЕЦ ГЛАВНОЙ СТРАНИЦЫ*/

/*PORTFOLIO*/
/* start menu*/

.menu-list, .projects-list, .projects-filter {
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-list{
    
    display: flex;
    justify-content: center;
    
     
}

.menu-button{
    color: var(--title-color);
    background-color: var(--secondary-bgc);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    font-family: 'Roboto';
    border-radius: 4px;
    border: 4px solid transparent;
    margin-right: 8px;
    height: 38px;
    min-width: 73px;
    padding: 0px;
    padding: 6px 22px 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.menu-button:hover, .menu-button:focus {
    color: var(--special-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* end menu*/
/* start projects*/
.div-projects {
    
    border: 1px solid #EEEEEE;
    box-sizing: border-box; 
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -5px;
    
}
.projects{
    padding-bottom: 94px;
    padding-top: 94px;
}
.projects-title{
    color: var(--title-color);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.06em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 2;
    text-decoration: none;
    
    
    
}

.projects-filter {
    color:var(--primary-text-color);
    font-weight: normal;
    font-size: 16px;
    margin-top: 4px;
    line-height: 1.87;
    text-decoration: none;
    
    

}
.projects-list {
    
    padding-left: 0px;
    padding-bottom: 0px;   
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    

}
.projects-foto{
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    
    
}
.projects-foto:nth-child(3n){
    margin-right: 0px;
}
.projects-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.projects-link:hover, .projects-link:focus{
  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.div-text-wrapper{
    position:relative;
    overflow: hidden;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--special-title-color);
    top:0;
    left:0;
    margin:0;
    padding: 63px 24px; 
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.projects-link:hover .overlay,
.projects-link:focus .overlay{
    transform: translateY(0%);
}

/* end projects*/
/* END PORTFOLIO*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}   
.modal{
    width: 528px;
    height: 581px;
    background-color: var(--primary-bgc);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
}
.modal-close{
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top:8px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.close-icon{
    width: 12px;
    height: 12px;
}
.close-icon:focus, .close-icon:hover {
    fill:var(--accent-color);
}

.hero-form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin: 0;
}
.hero-form-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}
.hero-form-div{
    margin-top: 4px;
    position: relative;
    display: block;
}
.hero-form-field{
    display: block;
}
.hero-form-input{
    display: block;
    width: 100%;
    height:40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.hero-form-input:focus {
    border: 1px solid #2196F3;
        
}
.hero-form-input:focus + .hero-form-icon{
    fill:var(--accent-color);
}
.hero-form-icon{
    width: 12px;
    height:12px;
    position: absolute;
    display: block;
    top:50%;
    left:12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form-message{
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}
.hero-form-message:focus{
    border: 1px solid #2196F3;
}
.hero-form-checkbox{
    margin-top: 20px;
    
}
.hero-form-input-checkbox{
    margin-left: 12px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.hero-form-input-checkbox:checked + .hero-form-field-checkbox::before{
    background-color: var(--accent-color);
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    border-color: #2196F3;
    border-radius: 2px;
       
}
.hero-form-input-checkbox:focus + .hero-form-field-checkbox::before{
    outline: none;
    border-color: #2196F3;
  
}
.hero-form-field-checkbox{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}
.hero-form-field-checkbox::before{
    content: '';
    display: inline-block;
    width: 16px;
    height:15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    
}

.visually-hiden{
    position: absolute;
    width:1px;
    height:1px;
    margin:-1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.hero-form-btn{
    color: var(--special-title-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    margin: auto;
    margin-top: 30px;
    padding: 10px 55px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}
.policy-checkbox-title {
    color: var(--accent-color);
}